@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,cyrillic-ext);
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}


html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}

html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Roboto Condensed', sans-serif;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
ul,
li {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	width: auto\9;
}

.hidden {
	display: none;
}

* {
	box-sizing: border-box;
	text-align: center;
}

body {
	background: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
/*Морда*/

.link {
	display: block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	line-height: 150px;
	color: #fff;
	-webkit-transition: all .5s ease-in;
	        transition: all .5s ease-in;
	margin-bottom: 1em;
	background: -webkit-radial-gradient(at 0px 40px, #F9FDC1, #519E05);
	background: radial-gradient( at 0px 40px, #F9FDC1, #519E05);
	font-size: 1.2em;
}

.link:hover,
.link:active,
.link:focus,
.link:visited {
	box-shadow: inset 0 0 0px 100px #519E51;
	box-shadow: inset 0 0 0px 100px rgba(81, 158, 81, 0.39);
	-webkit-transition: all .3s linear;
	        transition: all .3s linear;
	color: #222;
	text-decoration: none;
}

.first {
	width: 150px;
	height: 150px;
	line-height: 150px;
	margin-left: 200px;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

.second {
	width: 150px;
	height: 150px;
	line-height: 150px;
	margin-left: 200px;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 2.2s;
	animation-delay: 2.2s;
}

.third {
	width: 150px;
	height: 150px;
	line-height: 150px;
	margin: 100px 15px 0 auto;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 2.4s;
	animation-delay: 2.4s;
}

.fourth {
	width: 150px;
	height: 150px;
	line-height: 150px;
	margin: 100px 0 0 15px;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 2.6s;
	animation-delay: 2.6s;
}

.fifth {
	width: 150px;
	height: 150px;
	line-height: 150px;
	margin-left: -30px;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 2.8s;
	animation-delay: 2.8s;
}

.sixth {
	width: 150px;
	height: 150px;
	line-height: 150px;
	margin-left: -30px;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}

.logo {
	background: -webkit-radial-gradient(at 0px 40px, #F9FDC1, #519E05);
	background: radial-gradient( at 0px 40px, #F9FDC1, #519E05);
	width: 378px;
	height: 378px;
	margin-left: -15px;
	border-radius: 50%;
	line-height: 378px;
	font-size: 40px;
	text-transform: uppercase;
	color: #000;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: .8s;
	animation-delay: .8s;
}
/*Анимация*/

.zoom-first {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

.zoom-second {
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

.zoom-third {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

.zoom-fourth {
	-webkit-animation-duration: 1.7s;
	animation-duration: 1.7s;
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

.zoom-fifth {
	-webkit-animation-duration: 1.9s;
	animation-duration: 1.9s;
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

.zoom-sixth {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}
/*Главная*/

.active{
	box-shadow: inset 0 0 0px 100px rgba(81, 158, 81, 0.5);
}

p {
	text-align: left;
}

.nav {
	margin-top: 2%;
	margin-bottom: -4%;
}

.wrap {
	background: url('../img/wrap-bg.jpg') no-repeat;
	height: 74vh;
	background-size: cover;
}

.footer {
	background: #222;
	color: #fff;
	padding: 0.5em 0;
}
.mail a{
	color: #fff;
}
.mail a:hover,
.mail a:active,
.mail a:visited,
.mail a:focus,{
	text-decoration: none;
	color: #fff;
}
/*Акции*/

.promo {
	overflow-y: scroll;
	padding: 15px;
	margin-bottom: 20px;
	height: 62vh;
	text-align: left;
}

.promo::-webkit-scrollbar,
.map::-webkit-scrollbar {
    width: 1em;
}
 
.promo::-webkit-scrollbar-track,
.map::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.promo::-webkit-scrollbar-thumb,
.map::-webkit-scrollbar-thumb {
	background: rgba(151,201,37, 0.85);

}

.promo__list {
	margin: 0;
	padding: 0;
}

.promo__item {
	list-style: none;
	margin-bottom: 50px;
	text-align: left;
}

.promo__item img {
	margin-right: 24px;
	margin-top: 6px;
	float: left;
}

.promo__item h3,
.promo__item p {
	text-align: left;
	margin: 0;
}

.promo__item a {
	color: #000;
}

.promo__item a:hover,
.promo__item a:active,
.promo__item a:focus,
.promo__item a:visited {
	color: #000;
	text-decoration: none;
}

.project {
	width: 100%;
	height: 22vh;
}

.project:nth-child(1) {
	background: url(../img/elec.jpg);
}

.project:nth-child(2) {
	background: url(../img/green.jpg);
}

.project:nth-child(3) {
	background: url(../img/sadki.jpg);
}

.overlay {
	background: #97C925;
	background: rgba(151, 201, 37, .7);
	position: absolute;
	margin: auto;
	width: 0px;
	height: 0px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: .3s ease;
	        transition: .3s ease;
}

.overlay:hover {
	opacity: 0.4;
}

.overlay h2 {
	font-size: 2em;
	font-weight: 700;
	color: #fff;
	line-height: 6;
}

.map{
	overflow-y: scroll;
	height: 64vh;
}

.map h2 {
	margin: 1em 0;
}
.ya__map{
	margin-bottom: 1em;
}

.rect {
	fill: #66CC99;
	fill: rgba(102, 204, 153, 0.6);
	opacity: 0.5;
	-webkit-transition: .3s ease;
	        transition: .3s ease;
}

.rect:hover {
	fill: #26A65B;
	fill: rgba(38, 166, 91, 0.8);
	cursor: pointer;
	-webkit-transition: .3s ease;
	        transition: .3s ease;
	opacity: 1;
}

.sold {
	fill: #E74C3C;
	fill: rgba(231, 76, 60, 0.8);
	opacity: 1;
}

.sold:hover {
	fill: #E74C3C;
	fill: rgba(231, 76, 60, 0.8);
	cursor: default;
}

#carousel-example-generic {
	display: inline-block;
}

ul.thumbnails-carousel {
	padding: 5px 0 0 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}

ul.thumbnails-carousel .center {
	display: inline-block;
}

ul.thumbnails-carousel li {
	margin-right: 5px;
	float: left;
	cursor: pointer;
}

.controls-background-reset {
	background: none !important;
}

.active-thumbnail {
	opacity: 0.5;
}

.indicators-fix {
	bottom: 70px;
}

.modal {
	font-size: 13px;
}

.modal-footer {
	border: none;
}

.floor__gallery img {
	display: block;
	margin: 0 auto;
}

.carousel-control,
.carousel-control:hover,
.carousel-control:focus {
	color: #222;
}

.floor__desc h3 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.color{
	width: 150px;
}

label {
	display: inline-block;
	width: 10%;
	text-align: center;
	background: #ccc;
}

select {
	display: inline-block;
	width: 40%;
}
